<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211584813730-h8cqn7ob64skahqpc5sov7jhurm8p7m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211584813730-h8cqn7ob64skahqpc5sov7jhurm8p7m7</string>
	<key>API_KEY</key>
	<string>AIzaSyAuNiV9jP22VIyJMvne6UQPX_QHxJ2cecc</string>
	<key>GCM_SENDER_ID</key>
	<string>211584813730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.rebeccazhu.Fitness-Bubble</string>
	<key>PROJECT_ID</key>
	<string>fitness-bubble</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-bubble.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211584813730:ios:7d61a6d6ee9e8fa89c25fb</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-bubble.firebaseio.com</string>
</dict>
</plist>